.rotaract_header {
    /* background-image: url(https://cdn.wallpapersafari.com/10/47/wEziqy.png); */
    padding: 2%;
    background: #fff;
    box-shadow: 0 0 4px 0 #00000040;
    /* border-radius: 10px; */
    /* height: 165px; */

    /* position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0; */

    >div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >img {
            width: 17%;
            cursor: pointer;
        }

        >div {
            /* width: 90%; */

            >h2 {
                color: #041350;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            >h4 {
                color: #550d0d;
                margin-top: 0px;
                text-align: center;
            }
        }
    }

    .nav_header {
        >div {
            display: flex;
            justify-content: flex-end;
            gap: 5%;
            color: var(--rotaract-color-Fuchsia);
            margin-top: 1%;

            /* >div:first-child {
          display: none;
        } */

            >div {
                cursor: pointer;
                font-size: 15px;
                font-weight: 600;

                >div {
                    border: 2px solid var(--color-zuccini);
                    /* width: 2em; */
                    border-radius: 6px;
                }
            }
        }

    }

}