.loginscreen {
    background: url(https://oir.mobi/uploads/posts/2022-08/thumbs/1661396642_21-oir-mobi-p-fon-aiti-vkontakte-22.jpg);
    background-size: 100%;
    height: 437px;
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // >div {
    // width: 30%;
    color: white;

    >h2 {
        text-align: center;
    }

    >form {
        width: 30%;

        >button {
            width: 100%;
            background: var(--rotaract-color-Fuchsia) !important;
            color: white !important;
        }
    }

    // }
}

.admin_layout {
    padding: 3.5% 5%;

    >div:first-child {
        display: flex;
        gap: 4%;
        // color: var(--color-scale-gray-2);
        color: var(--rotaract-color-Fuchsia);
        justify-content: center;
        // font-weight: 400;
        // font-size: var(--font-size-20) !important;
        font-size: 18px;
        padding-bottom: 3%;

        >div {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .activeTab {
            // color: var(--color-dark-green);

            >div {
                border: 2px solid var(--color-zuccini);
                border-radius: 6px;
                // margin: 1% 37%;
                width: 2em;
            }
        }
    }
}

.create_clubs {
    >form {
        >div {
            padding-bottom: 3%;
        }

        >div:nth-child(2) {
            >div:first-child {
                >div {
                    width: 100%;
                }
            }
        }

        >div:last-child {
            display: flex;
            justify-content: center;
            padding-bottom: 0px;

            >button {
                width: 10%;
                background: blue;
                color: white;
            }
        }
    }
}

.create_event {
    >form {
        >div {
            margin: 0 !important;

            >div {
                border: 0.02em solid var(--color-scale-gray-5);

                >div:first-child {
                    font-size: 17px;
                    color: var(--color-scale-gray-11);

                    >span {
                        color: var(--color-red) !important;
                    }
                }
            }
        }

        >div:last-child {
            margin-top: 3% !important;

            >button {
                width: 10%;
                background: blue;
                color: white;
            }
        }
    }
}